doctype 5
html
  head
    title Avi Romanoff
    link(rel="stylesheet", href="style.css")
    body
      #hero
        h1 Hey, I'm Avi.
        h3 I enjoy writing.
      h5#code.outlet Code
      h5#prose.outlet Prose
      h5#poetry.outlet Poetry
      #background
