doctype 5
html
  head
    title Avi Romanoff
<<<<<<< HEAD
    link(rel='shortcut icon', href="favicon.ico", type="image/x-icon")
    link(href='http://fonts.googleapis.com/css?family=Life+Savers:700|Sofia|Asap', rel='stylesheet', type='text/css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    link(rel="stylesheet", href="style.css")
    body
      #hero
        h1 Hey, I'm Avi
        h3 I write things
      a#code.outlet(href="#") Code()
        sup 1
      a#prose.outlet(href="#") Prose
        sup 2
      a#poetry.outlet(href="#") Poetry
        sup 3
      #footnotes
        sup 1 
        | Past &amp; current projects
        br
        sup 2 
        | Blog and digital rhetoric
        br
        sup 3 
        | Slam poetry and other pieces
      #footer &copy; 1996-2013 | 
        a Resum&eacute;
      #background
=======
    link(rel="stylesheet", href="style.css")
    body
      #hero
        h1 Hey, I'm Avi.
        h3 I enjoy writing.
      h5#code.outlet Code
      h5#prose.outlet Prose
      h5#poetry.outlet Poetry
      #background
>>>>>>> 42426c455150d1343505f68daf44ae911cf379ee
