extends base
block content
  #background
  #hero
    h1 Hey, I'm Avi
    h3 I write things
  a#code.outlet(href="code") Code()
    sup 1
  a#prose.outlet(href="#") Prose
    sup 2
  a#poetry.outlet(href="#") Poetry
    sup 3
  #footnotes.bottom
    sup 1 
    | Past &amp; current projects
    br
    sup 2 
    | Blog and digital rhetoric
    br
    sup 3 
    | Slam poetry and other pieces