/*
  Copyright 2013 Avi Romanoff <aviromanoff at gmail dot com>
*/

body {
  color: #fff;
  font-size: 12px;
  font-family: 'Asap', Arial, Sans-serif;
  background-image: url("pattern.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) { 
  body {
    background-image: url("pattern_2X.png");
  }
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

#hero {
  text-align: center;
  font-size: 30px;
  text-shadow: 0px 3px 5px rgba(0,0,0,0.7);
}

.bottom {
  position: absolute;
  font-size: 20px;
  bottom: 3%;
}

.resume {
  position: absolute;
  right: 2%;
  bottom: 7%;
  font-size: 30px;
}

.resume:hover {
  text-decoration: underline;
}

.copyright {
  position: absolute;
  right: 2%;
  bottom: 3%;
  font-size: 18px;
}