extends layout

block append head
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Life+Savers:700|Sofia|Asap')
  link(rel='stylesheet', href="/style/index.css")

block content
  #background
  #hero
    h1 Hey, I'm Avi
    h3 I write things
  a#code.outlet(href="/code") Code()
    sup 1
  a#prose.outlet(href="https://medium.com/@aviromanoff") Prose
    sup 2
  a#poetry.outlet(href="/poetry") Poetry
    sup 3
  #footnotes.bottom
    sup 1 
    | Past &amp; current projects
    br
    sup 2 
    | Blog and digital rhetoric
    br
    sup 3 
    | Slam poetry and other pieces
  a.resume(href="/resume.pdf") R&eacute;sum&eacute;
  .copyright &copy; 1996-2015